@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #1e1e1e;
    background-color: #f9fafc;
}

hr {
    border: 0;
    border-bottom: 2px solid #6e6e6e;
}

h1.title {
    font-size: 3.2em;
}

a, a:visited, a:link, a:active {
    color: #1e1e1e;
    text-decoration: none;
    transition: 200ms;
}

a:hover {
    color: #8b8b8b;
}

.container {
    margin: 0 128px;
}

.btn {
    padding: 7px 10px 9px;
    border: 2px solid #1e1e1e;
    border-radius: 20px;
}

.btn:hover {
    color: #f9fafc;
    background-color: #1e1e1e;
}

.icon {
    position: relative;
    top: 3px;
    right: 2px;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.header {
    background: #f9fafc;
    text-align: center;
    padding: 22px 120px;
}

.header a {
    position: relative;
    margin: 0 8px;
    top: 25%;
}

.header-content, .main-banner, .dark-banner, .light-banner {
    text-align: center;
}

.hc-left {
    text-align: left;
    flex: 2;
}

.hc-center {
    flex: 5;
}

.hc-right {
    text-align: right;
    flex: 2;
}

.main-banner {
    height: 100vh;
    background-image:
    linear-gradient(to bottom, #f9fafc 24%,
    rgba(255, 255, 255, 0.8)),
    url('../img/map.jpg');
    background-size: cover;
}

.banner-content {
    padding: 38px 24px;
}

.main-banner .banner-content {
    padding: 136px 24px;
}

.banner-title {
    display: inline-block;
    border-bottom: 2px solid #6e6e6e;
    padding-bottom: 6px;
}

.dark-banner .banner-title {
    border-color: #9e9e9e;
}

.banner-content hr {
    width: 200px;
}

.banner-content #get-started {
    position: relative;
    top: 48px;
}

.dark-banner {
    background-color: #1e1e1e;
    color: #f9fafc;
}

.footer {
    padding: 26px 0;
}

.footer div {
    padding: 32px 0 8px;
}

.top {
    color: #1e1e1e;
    border: 2px solid #1e1e1e;
    border-radius: 100%;
    padding: 5px 7px;
}

.top:hover {
    background-color: #1e1e1e;
    color: #f9fafc;
    border: 2px solid #1e1e1e;
    border-radius: 100%;
    padding: 5px 7px;
}
